<script context="module">
	export const preload = () => {};
</script>

<script>
  // import gql from 'graphql-tag';
  import { graphql } from "graphql";
  import { stores } from "@sapper/app";

  import { schema, HelloQuery, root } from "../graphql";

  import NavBar from "../components/NavBar.svelte";
  import GlobalStyle from '../components/GlobalStyle.svelte';

  // console.log(schema);

  async function buttonPress() {
    const result = await graphql(schema, HelloQuery, root);
    console.log(result);
    return result;
  }

  let promise; // = buttonPress();

  function handleClick() {
		promise = buttonPress();
	}
  
  const { page, session } = stores();
  const { appPath } = $session;

	let path: string;
  $: path = $page.path.slice(1);
</script>

<GlobalStyle />
<NavBar {path} {appPath} />
<button on:click={handleClick}>Hello!</button>

<svelte:head>
	<title>
		Sapper Pages Template
	</title>
</svelte:head>

{#await promise}
  <p>waiting...</p>
{:then result}
  {#if result !== undefined}
  <p>The res is {result.data.hello}</p>
  {/if}
{:catch error}
  <p>{error.message}</p>
{/await}

<slot />
