<script>
</script>

<style>
	.centerer {
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
</style>

<div class="centerer">
	<h1>Example Subpage,</h1>
</div>
