<script>
  import { onMount } from "svelte";
  import { name } from "src/stores";
  import LocalStorageLoader from "../components/LocalStorageLoader.svelte";
  import { Contact, ContactStore, me } from "src/models";
  import IndexDBItem from "../components/IndexDBItem.svelte";
  import type { Writable } from "svelte/store";

  let user: string;
  let me_input: string;
  let me_contact;
  let contact_store: Writable<Array<Contact>>;

  onMount(async () => {
    me_contact = await me();
    contact_store = await ContactStore();
    return () => {};
  });

  async function set_me() {
    await me_contact.update((contact) => {
      contact.first = me_input;
    });
  }

  async function set_contact_store() {
    const new_me = new Contact(Math.floor(Math.random() * 832474 + 1).toString(), "reeee");
    contact_store.update((contacts) => {
      contacts.push(new_me);
      return contacts;
    });
  }
</script>

<div class="h-screen mx-auto flex flex-row justify-around">
  <LocalStorageLoader item={name}>
    <h1 class="m2" slot="display-known">{$name}</h1>
    <h1 class="m2" slot="display-unknown">I don't know your name!</h1>
  </LocalStorageLoader>

  <IndexDBItem item={me_contact}>
    <h1 class="m2" slot="display-known">{$me_contact.first}</h1>
    <h1 class="m2" slot="display-unknown">I don't know your name!</h1>
  </IndexDBItem>

  <IndexDBItem item={contact_store}>
    <ul class="m2 flex flex-col" slot="display-known">
      {#each $contact_store as contact }
        <li>{contact.first}</li>
      {/each}
    </ul>
    <h1 slot="display-unknown">I don't know your contacts!</h1>
  </IndexDBItem>
</div>

<div class="mx-auto flex flex-row justify-around">
  <input bind:value={user} />
  <button on:click={() => name.set(user)}>Set Name</button>

  <input bind:value={me_input} />
  <button on:click={set_me}>Set Me Indi</button>

  <button on:click={set_contact_store}>Add To Store</button>
</div>