<script>
  export let item;
</script>

{#if $item !== undefined}
  <slot name="display-known">
    <em>No content for known storage data provided.</em>
  </slot>
{:else}
  <slot name="display-unknown">
    <em>No content for known storage data provided.</em>
  </slot>
{/if}