<script>
  export const size = 4;
  export const color = "#FF3E00";
  export const unit = "em";

  function range(size: number, startAt = 0) {
    return [...Array(size).keys()].map((i) => i + startAt);
  }
</script>

<style>
  .container {
    @apply relative flex justify-start items-center bg-gray-200;
    width: var(--size);
    height: calc(var(--size) / 2.5);
  }

  .bar {
    @apply absolute top-0;
    width: calc(var(--size) / 5);
    height: calc(var(--size) / 2.5);
    background-color: var(--color);
    animation: motion 1.5s cubic-bezier(0.895, 0.03, 0.0685, 0.22) infinite;
  }

  @keyframes motion {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
</style>

<div
  class="container"
  style="--size: {size}{unit}; --color: {color}">
  {#each range(3, 0) as rect}
    <div
      class="bar"
      style="animation-delay: {rect * 0.15}s; left: {rect * (size / 3 + size / 15)+unit}">
    </div>
  {/each}
</div>