<script>
  import Loading from "./Loading.svelte";
  export let item;

  // @ts-ignore: browser is not defined.
  const browser = process.browser;
  if (browser) item.useLocalStorage();
</script>

{#if browser}
  {#if $item !== undefined}
    <slot name="display-known">
      <em>No content for known storage data provided.</em>
    </slot>
  {:else}
    <slot name="display-unknown">
      <em>No content for known storage data provided.</em>
    </slot>
  {/if}
{:else}
  <slot name="loading">
    <Loading />
  </slot>
{/if}